<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="index.css">
<div class="container">
    <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header">Hello <%= fname %> <%= lname %> !</div>
        <div class="card-body">
          <p class="card-text">Your email is : <%= mail %></p>
          <p class="card-text">Your mobile number is : <%= mobile %></p>
        </div>
      </div>
    
</div>